.wrap_container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.log_box1 {
    width: 50% !important;

}

.log_box2 {
    position: relative;
    width: 50%;
    height: inherit;
}

.sub_box2 {
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 90px;
    width: 100%;
    height: inherit;
}

.text1 {
    font-family: 'AvenirNextLTPro-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.04em;
    color: #213F7D;
    width: max-content;
}

.text2 {
    // font-family: 'AvenirNextLTPro-bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #545F7D;
    width: max-content;
}

.colored_text {
    color: #39CDCC;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: max-content;
}

.log_logo {
    height: 36px;
    width: 173px;
    margin-left: 60px;
}

.log_img {
    width: 600px;
    height: 337.57px;
    margin-left: auto;
    margin-right: auto;
}

// @media screen and () {
    
// }